form{width:800px;
     margin:auto;
}
.biao{width:900px;
      margin:auto;
      box-shadow:0px 0px 2px green;
      position:relative;
      top:10px;
      background-color:white;
}
.biaodan{text-align:center;
         height:100px;
}
h5{line-height:100px;
}
input.form-control{}
.foot{height:20px;}
#group{margin-bottom:20px;
}
button.btn.btn-info{width:150px;
                    height:40px;
                    position:relative;
                    top:-8px;
                    left:325px;
}
body{background-color:#ececec;}
input.form-control{width:260px;
                   display:inline-block;
}
label{display:block;
}